<div fxFlex="row-wrap" >
    <div fxLayout="column">

        <mat-card class="mat-elevation-z8 about-container">
            <mat-card-title color="primary">Welcome to Nodebucket</mat-card-title>

            <mat-card-content>

                <p>
                    <em>Tired of complicated task management software?  Then try out Nodebucket!</em>
                    <br><br>
                    Nodebucket is an innovative task management software that allows you to easily keep track of your tasks.
                    It simplifies the way you create, track, edit and remove time sensitive material. Nodebucket is a full-stack
                    MEAN (MongoDb, Express, Angular, and Node.js) application that will simplify the way you manage your tasks.
                </p>
                <p>
                    As a user you will be able to login with an employee Id in order to create new tasks. Nodebucket will keep your
                    information secure so only you are able to view it. Nodebucket puts your todo tasks in their own column, while
                    keeping your done tasks in another. By having them separated you'll be able to move items from your todo task list
                    over to your done task list in one smooth step. By having a layout in this manner you won't ever get your todo list
                    and done list confused. Nodebucket also allows you to easily remove items from either list. If you don't want to hang
                    on to an item in your done list after you've completed a task, just simply remove it. 
                </p>
                <p>
                    Most applications created for organizing your tasks are confusing and hard to use. They contain many steps just to
                    create one task or even remove a task. Also, they don't allow you to organize your list in separate columns, instead
                    everything is created in one list. This can confuse users by frustrating them causing them to discontinue use of
                    the product. So why bother with these other applications? The only reason you would, is because you haven't tried out
                    Nodebucket. So start today and see how easy it can be to organize your life!
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
