<div fxLayout="column" class="main-welcome">

  <div fxFlex>
  <h1 class="title">
    Welcome to Nodebucket<br />
    <span class="subtitle">
      The only app you need to organize all of your tasks in one place.
    </span>
  </h1>
</div>

  <div fxFlex>
    <div class="create-task-container" fxLayout="column">
      <button mat-raised-button color="primary" (click)="openCreateTaskDialog()">Create Task</button>
    </div>
  </div>

    <br />

  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="15px" class="task-container">

      <!-- todo -->
      <div fxFlex>
        
        <mat-card class="mat-elevation-z0">

          <mat-card-title>To do</mat-card-title>

          <mat-card-content>
            
            <div fxLayout="column"
                 fxLayoutGap="10px"
                 class="task-list"
                 cdkDropList
                 #todoList="cdkDropList"
                 [cdkDropListData]="todo"
                 [cdkDropListConnectedTo]="[doneList]"
                 (cdkDropListDropped)="drop($event)">

              <!-- loop/iterate over the array -->
                 <div *ngFor="let item of todo" cdkDrag>
                   
                    <mat-card class="mat-elevation-z0 task-card">

                      <mat-card-content>

                        <div fxLayout="row">
                          <div fxFlex>
                            {{ item.text }}
                          </div>

                          <!-- create dot menu with delete button -->
                          <div fxFlex fxLayoutAlign="end">
                            <button [matMenuTriggerFor]="todoOptions" class="task-options-menu" mat-icon-button>
                              <mat-icon>more_horiz</mat-icon>
                            </button>

                            <mat-menu #todoOptions="matMenu" x-position="before">
                              <button (click)="deleteTask(item._id)" mat-menu-item>
                                Remove
                              </button>
                            </mat-menu>
                          </div>
                          <!-- end of dot menu with delete button -->
                        </div>

                      </mat-card-content>

                    </mat-card>

                 </div>

            </div>

          </mat-card-content>

        </mat-card>

      </div>

      <!-- done -->
      <div fxFlex>

        <mat-card class="mat-elevation-z0">

          <mat-card-title>Done</mat-card-title>

          <mat-card-content>

            <div
              fxLayout="column"
              fxLayoutGap="10px"
              class="task-list"
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              (cdkDropListDropped)="drop($event)">
            
              <div *ngFor="let item of done" cdkDrag>

                <mat-card class="mat-elevation-z0 task-card">
                
                  <mat-card-content>

                    <div fxLayout="row">
                      <div fxFlfex>
                        {{ item.text }}
                      </div>

                      <!-- create dot menu with delete button -->
                      <div fxFlex fxLayoutAlign="end">
                        <button [matMenuTriggerFor]="doneOptions" class="task-options-menu" mat-icon-button>
                          <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #doneOptions="matMenu" x-position="before">
                          <buttom (click)="deleteTask(item._id)" mat-menu-item>
                            Remove
                          </buttom>
                        </mat-menu>
                      </div>
                      <!-- end of dot menu with delete button -->
                    </div>

                  </mat-card-content>

                </mat-card>

              </div>

            </div>

          </mat-card-content>

        </mat-card>

      </div>

    </div>

  </div>

</div>
  